body{
    background-color: #383d58;
    color: white;
}
.cabecalho{
    background-color: #383d58;
    color: white;
    display: flex;
    }
    justify-content: space-aroud;
    img.cabecalho-imagem{
        aluratart logo l.png;
    } 